{% include 'header' %}

import UIKit
import AsyncDisplayKit
import RxSwift
import RxCocoa
import Attributed
import FlexibleImageIOS
import SwifterSwift

public final class {{ module_info.name }}CellNode: ASCellNode {

    public let buttonTap: PublishSubject<Void> = PublishSubject()

    fileprivate let cellSpacing: CGFloat = 4
    fileprivate let pictureRatio: CGFloat = 1.2

    fileprivate var button: ASButtonNode = ASButtonNode()
    fileprivate let pictureNode: ASNetworkImageNode = ASNetworkImageNode()
    fileprivate let titleNode: ASTextNode = ASTextNode()

    fileprivate var object: {{ module_info.name }}.Info

    // MARK: - thread
    public init(object: {{ module_info.name }}.Info) {

        self.object = object
        super.init()

        automaticallyManagesSubnodes = true
        setupNodes()
    }

    fileprivate func setupNodes() {

        setStyle(Style.defaultContainer)

        pictureNode.contentMode = .scaleAspectFill
        pictureNode.setURL(URL(string: object.imageURLString), resetToDefault: true)
        let photoDimension: CGFloat = (SwifterSwift.screenWidth - self.cellSpacing) / 2.0
        let pictureSize: CGSize = CGSize(width: photoDimension, height: photoDimension * self.pictureRatio)
        let aspectSize: CGSize = pictureSize.aspectFill(minimum: pictureSize)
        pictureNode.imageModificationBlock = Style.addCornerRadiusAndDarkGradient(forFinal: aspectSize)

        titleNode.attributedText = object.name.at.attributed {
            $0.foreground(color: .white).font(Font.main18)
        }
    }

    public override func layoutSpecThatFits(_ constrainedSize: ASSizeRange) -> ASLayoutSpec {

        let photoDimension: CGFloat = (constrainedSize.max.width - cellSpacing) / 2.0
        pictureNode.style.preferredSize = CGSize(width: photoDimension, height: photoDimension * pictureRatio)

        let insets: UIEdgeInsets = UIEdgeInsets(top: CGFloat.infinity, left: 10, bottom: 8, right: 10)
        let textInsetSpec: ASInsetLayoutSpec = ASInsetLayoutSpec(insets: insets, child: titleNode)

        let overlay: ASOverlayLayoutSpec = ASOverlayLayoutSpec(child: pictureNode, overlay: textInsetSpec)
        let cellEdgeInsets: UIEdgeInsets = UIEdgeInsets(top: 1, left: 1, bottom: 0, right: 1)

        return ASInsetLayoutSpec(insets: cellEdgeInsets, child: overlay)
    }

    // MARK: - thread
    public override func didLoad() {

        super.didLoad()
    }

    public override func layout() {

        super.layout()
    }
}
