{% include 'header' %}

import UIKit
import AsyncDisplayKit
import RxSwift
import RxCocoa
import Attributed

public final class {{ module_info.name }}HeaderCellNode: ASCellNode {

    private let pictureNode: ASImageNode = ASImageNode()
    private let titleNode: ASTextNode = ASTextNode()
    // MARK: - thread
    public override init() {

        super.init()

        automaticallyManagesSubnodes = true
        setupNodes()
    }

    fileprivate func setupNodes() {

        setStyle(Style.defaultContainer)

        pictureNode.contentMode = .scaleAspectFit
        pictureNode.image = R.image.findBackground()

        titleNode.attributedText = "באמצעות איזה ארגון תבוצע\nהמעורבות החברתית שלך?".at.attributed {
            $0.foreground(color: Color.darkSlateBlue).font(Font.main24).alignment(.center)
        }
        titleNode.maximumNumberOfLines = 3
    }

    public override func layoutSpecThatFits(_ constrainedSize: ASSizeRange) -> ASLayoutSpec {

        let pictureSide: CGFloat = constrainedSize.max.width * 0.6
        pictureNode.style.preferredSize = CGSize(width: pictureSide, height: pictureSide)

        let insets: UIEdgeInsets = UIEdgeInsets(top: CGFloat.infinity, left: 0, bottom: 0, right: 0)
        let textInsetSpec: ASInsetLayoutSpec = ASInsetLayoutSpec(insets: insets, child: titleNode)

        return ASOverlayLayoutSpec(child: pictureNode, overlay: textInsetSpec)
    }

    // MARK: - thread
    public override func didLoad() {

        super.didLoad()
    }

    public override func layout() {

        super.layout()
    }
}
