{% include 'header' %}

import UIKit
import AsyncDisplayKit
import RxSwift
import RxCocoa

public final class {{ module_info.name }}Node: ASDisplayNode {

    public let collectionNode: ASCollectionNode
    public var buttonTap: Driver<Void> {
        return button.rx.controlEvent(.touchUpInside).asDriver()
    }

    fileprivate var button: ASButtonNode = ASButtonNode()
    fileprivate let bag: DisposeBag = DisposeBag()

    // MARK: - thread
    public override init() {

        let collectionLayout: UICollectionViewFlowLayout = UICollectionViewFlowLayout()
        collectionLayout.minimumInteritemSpacing = 0
        collectionLayout.minimumLineSpacing = 0
        collectionLayout.scrollDirection = .vertical
        collectionLayout.sectionInset = .zero
        collectionNode = ASCollectionNode(collectionViewLayout: collectionLayout)

        super.init()

        automaticallyManagesSubnodes = true
        setupNodes()
    }

    fileprivate func setupNodes() {

        setStyle(Style.defaultContainer)
    }

    public override func layoutSpecThatFits(_: ASSizeRange) -> ASLayoutSpec {

//        collectionNode.style.flexGrow = 1
//        let insets: UIEdgeInsets = UIEdgeInsets(top: 0, left: 0, bottom: 0, right: 0)
//        return ASInsetLayoutSpec(insets: insets, child: collectionNode)
        return ASWrapperLayoutSpec(layoutElement: collectionNode)
    }

    // MARK: - thread
    public override func didLoad() {

        super.didLoad()

        collectionNode.view.showsHorizontalScrollIndicator = false
        collectionNode.view.showsVerticalScrollIndicator = false
    }

    public override func layout() {

        super.layout()
    }
}
