{% include 'header' %}

import Foundation

public enum {{ module_info.name }} {

    public enum Update {

        public struct Request {
        }

        public struct Response {
        }

        public struct ViewModel {
        }
    }

    public enum Submit {

        public struct Request {
        }

        public struct Response {
        }

        public struct ViewModel {
        }
    }

    public enum Fetch {

        public struct Request {
        }

        public struct Response {
        }

        public struct ViewModel {
        }
    }
}
