{% include 'header' %}

import Foundation
import RxSwift
import RxCocoa

// MARK: - Interactor output
public protocol {{ module_info.name }}InteractorType: class {

}

// MARK: - {{ module_info.name }}ModuleSharedStorageType
///

/**
    Add fields you want to share with other modules or parent coordinator to this protocol.

    ## Important Notes ##
    1. It is required to add extension to parent's StateStorage with this protocol.
    2. Add extension at the end of this file.
 */
public protocol {{ module_info.name }}ModuleSharedStorageType {

}

public final class {{ module_info.name }}Interactor: {{ module_info.name }}InteractorType {

    // MARK: - Public Properties
    public let parent: CoordinatorType
    public let storage: Storage
    public weak var input: Input? {
      didSet {
          if let input = input {
              setupBindings(input)
          }
      }
    }

    // MARK: - Private Properties
    fileprivate let bag: DisposeBag = DisposeBag()

    // MARK: - Methods
    public init(parent: CoordinatorType, shared storage: Storage) {
        self.parent = parent
        self.storage = storage
    }

    public func setupBindings(_ input: Input) {
//        input.donePressed.bind(onNext: {
//            //self.parent.fire(event: Coordinator.InputName.name, self.storage)
//        }).disposed(by: bag)

        input.isReady.bind { _ in
            Logger.info("{{ module_info.name }} is ready")
        }.disposed(by: bag)

        input.leftBarButtonPressed.bind(onNext: parent.goBack).disposed(by: bag)

        input.rightBarButtonPressed.bind(onNext: {
            Logger.debug("rightBarButtonPressed")
        }).disposed(by: bag)
    }
}

// MARK: - BaseInteractorType
extension {{ module_info.name }}Interactor: BaseInteractorType {
    public typealias Input = {{ module_info.name }}InterfaceType & NavigationBarSubjects
    public typealias Storage = {{ module_info.name }}ModuleSharedStorageType
}

// MARK: - ModuleEntryType
extension {{ module_info.name }}Interactor: ModuleEntryType {
}

// MARK: - Share some properties with parent coordinator using extension to parent's state storage
extension <#T##ParentCoordinator##ParentCoordinator#>.StateStorage: {{ module_info.name }}ModuleSharedStorageType {
}