{% include 'header' %}

import UIKit
import AsyncDisplayKit
import RxSwift
import RxCocoa

public final class {{ module_info.name }}Node: ASDisplayNode {

    // MARK: - Public properties
//    public var buttonTap: Observable<Void> {
//        return button.rx.controlEvent(.touchUpInside).asObservable()
//    }

    // MARK: - Private properties
//    fileprivate let button: ASButtonNode = ASButtonNode()

    // MARK: - background thread
    public override init() {
        super.init()

        automaticallyManagesSubnodes = true
        setupNodes()
    }

    fileprivate func setupNodes() {

        setStyle(Style.defaultContainer)
    }

    public override func layoutSpecThatFits(_ constrainedSize: ASSizeRange) -> ASLayoutSpec {

        return ASLayoutSpec()
    }

    // MARK: - main thread
    public override func didLoad() {
        super.didLoad()
    }

    public override func layout() {
        super.layout()
    }
}
