{% include 'header' %}

import UIKit
import RxSwift
import RxCocoa
import AsyncDisplayKit

// MARK: - ViewController output
public protocol {{ module_info.name }}InterfaceType: class {
    var isReady: PublishSubject<Void> { get }
//    var donePressed: PublishSubject<Void> { get }
}

public final class {{ module_info.name }}NodeController: ASViewController<{{ module_info.name }}Node>, {{ module_info.name }}InterfaceType {

    // MARK: - Public properties
    public let input: {{ module_info.name }}PresenterType
    public let rightBarButtonPressed: PublishSubject<Void> = PublishSubject()
    public let leftBarButtonPressed: PublishSubject<Void> = PublishSubject()
    public let isReady: PublishSubject<Void> = PublishSubject()
//    public let donePressed: PublishSubject<Void> = PublishSubject()

    // MARK: - Private properties
    fileprivate let bag: DisposeBag = DisposeBag()

    // MARK: - View lifecycle
    public init(presenter: {{ module_info.name }}PresenterType) {
      input = presenter
      super.init(node: {{ module_info.name }}Node())
      setupBindings()
    }

    public required init?(coder aDecoder: NSCoder) {
        fatalError("Not Implemented")
    }

    public override func viewDidLoad() {
        super.viewDidLoad()
        isReady.onNext(())
    }

    public override func viewWillAppear(_ animated: Bool) {
        super.viewWillAppear(animated)
        navigationController?.setNavigationBarHidden(true, animated: true)
    }

    public override func viewWillDisappear(_ animated: Bool) {
        super.viewWillDisappear(animated)
    }

    public override func viewWillLayoutSubviews() {
        super.viewWillLayoutSubviews()
        // it is best practice to put all layout code in this method. Because it is not called very frequently,
        // even code that does not directly depend on the size belongs here.
    }

    // MARK: - View interaction
    public func setupBindings() {
//        node.buttonTap.bind(to: donePressed).disposed(by: bag)
    }
}

// MARK: - BaseControllerType
extension {{ module_info.name }}NodeController: BaseControllerType {
}

// MARK: - NavigationBarControllerType
extension {{ module_info.name }}NodeController: NavigationBarControllerType {
    // Remove this extension to hide navigation bar
}

// MARK: - BaseInterfaceType
extension {{ module_info.name }}NodeController: BaseInterfaceType {
}
