{% include 'header' %}

import Foundation
import RxSwift
import RxCocoa

public protocol {{ module_info.name }}PresenterType: class {

}

public final class {{ module_info.name }}Presenter: {{ module_info.name }}PresenterType {

    // MARK: - Public Properties
    public let input: {{ module_info.name }}InteractorType

    // MARK: - Private Properties
    fileprivate let bag: DisposeBag = DisposeBag()

    // MARK: - Methods
    public init(interactor: {{ module_info.name }}InteractorType) {

        input = interactor
        setupBindings()
    }

    public func setupBindings() {
    }
}

// MARK: - BasePresenterType
extension {{ module_info.name }}Presenter: BasePresenterType {
}
