{% include 'header' %}

import Foundation
import UIKit
import IGListKit
import AsyncDisplayKit
import RxSwift
import RxCocoa
import SwifterSwift

public class {{ module_info.name }}SectionController: ListSectionController {

    public typealias ListObject = {{ module_info.name }}.SectionViewModel

    public var selectedIndex: PublishSubject<Int> = PublishSubject()

    fileprivate var listItem: {{ module_info.name }}.SectionViewModel?
    fileprivate var fetchController: FetchControllerType?

    public convenience init(with fetchController: FetchControllerType?) {

        self.init()
        self.fetchController = fetchController
        supplementaryViewSource = self
        scrollDelegate = self
    }

    public override init() {

        super.init()
        supplementaryViewSource = self
        scrollDelegate = self
    }

    public override func numberOfItems() -> Int {

        return listItem?.objects.count ?? 0
    }

    public override func didUpdate(to object: Any) {

        if let box = object as? DiffableBox<{{ module_info.name }}.SectionViewModel> {
            listItem = box.value
        } else {
            listItem = nil
            Logger.error("Incorrect object type received",
                         type(of: object),
                         "expected",
                         type(of: {{ module_info.name }}.SectionViewModel.self))
        }
    }

    public override func didSelectItem(at index: Int) {

        selectedIndex.onNext(index)
    }

    public override func sizeForItem(at index: Int) -> CGSize {

        return ASIGListSectionControllerMethods.sizeForItem(at: index)
    }

    public override func cellForItem(at index: Int) -> UICollectionViewCell {

        return ASIGListSectionControllerMethods.cellForItem(at: index, sectionController: self)
    }
}

// MARK: -
extension {{ module_info.name }}SectionController: ListSupplementaryViewSource {

    public func supportedElementKinds() -> [String] {

        return [UICollectionElementKindSectionHeader]
    }

    public func viewForSupplementaryElement(ofKind elementKind: String, at index: Int) -> UICollectionReusableView {

        return ASIGListSupplementaryViewSourceMethods.viewForSupplementaryElement(ofKind: elementKind,
                                                                                  at: index,
                                                                                  sectionController: self)
    }

    public func sizeForSupplementaryView(ofKind elementKind: String, at index: Int) -> CGSize {

        return ASIGListSupplementaryViewSourceMethods.sizeForSupplementaryView(ofKind: elementKind, at: index)
    }

}

// MARK: -
extension {{ module_info.name }}SectionController: ASSupplementaryNodeSource {

    public func sizeRangeForSupplementaryElement(ofKind elementKind: String, at index: Int) -> ASSizeRange {

        guard isFirstSection else {
            return ASSizeRangeZero
        }

        return ASSizeRangeUnconstrained
    }

    public func nodeBlockForSupplementaryElement(ofKind elementKind: String, at index: Int) -> () -> ASCellNode {

        return {
            //            let header = {{ module_info.name }}HeaderCellNode()
            //            let side: CGFloat = SwifterSwift.screenWidth * 0.6
            //            header.style.preferredSize = CGSize(width: side, height: side)
            return {{ module_info.name }}HeaderCellNode()
        }
    }
}

// MARK: -
extension {{ module_info.name }}SectionController: ASSectionController {

    public func nodeBlockForItem(at index: Int) -> () -> ASCellNode {

        return { [weak self] in
            if let `self` = self, let listItem = self.listItem, let object = listItem.objects.item(at: index) {
                return {{ module_info.name }}CellNode(object: object)
            } else {
                return TailLoadingCellNode()
            }
        }
    }

    public func beginBatchFetch(with context: ASBatchContext) {

        Logger.debug("beginBatchFetch", context.isFetching())
        guard let fetchController = fetchController, !fetchController.isBusy.value else {
            Logger.debug(self.fetchController, self.fetchController?.isBusy.value)
            return
        }

        fetchController.readyToFetch.value = context
    }

    public func shouldBatchFetch() -> Bool {

        return !(fetchController?.isBusy.value ?? true)
    }
}

// MARK: -
extension {{ module_info.name }}SectionController: ListScrollDelegate {

    public func listAdapter(_ listAdapter: ListAdapter, didScroll sectionController: ListSectionController) {
    }

    public func listAdapter(_ listAdapter: ListAdapter, willBeginDragging sectionController: ListSectionController) {
    }

    public func listAdapter(_ listAdapter: ListAdapter,
                            didEndDragging sectionController: ListSectionController,
                            willDecelerate decelerate: Bool) {
    }
}

// MARK: -
extension {{ module_info.name }}SectionController: BaseSectionControllerType {
}

// MARK: -
extension {{ module_info.name }}SectionController: BaseSupplementarySourceType {
}
