{% include 'header' %}

import UIKit
import Swinject
import SwinjectAutoregistration

// swiftlint:disable force_unwrapping force_cast
public final class {{ module_info.name }}Assembly: Assembly {

    public func assemble(container: Container) {

        var presenter: {{ module_info.name }}PresenterType?
        container.autoregister({{ module_info.name }}InteractorType.self,
                               arguments: CoordinatorType.self,
                               {{ module_info.name }}ModuleSharedStorageType.self,
                               initializer: {{ module_info.name }}Interactor.init).inObjectScope(.container)
        container.autoregister({{ module_info.name }}PresenterType.self,
                               argument: {{ module_info.name }}InteractorType.self,
                               initializer: {{ module_info.name }}Presenter.init).inObjectScope(.container)
        container.autoregister({{ module_info.name }}InterfaceType.self,
                               argument: {{ module_info.name }}PresenterType.self,
                               initializer: {{ module_info.name }}NodeController.init).inObjectScope(.container)

        // MARK: - For use in module container
        container.register(ModuleEntryType.self) { (resolver: Resolver,
                                                    coordinator: CoordinatorType,
                                                    storage: StateStorageType) in

            let interactor = resolver.resolve({{ module_info.name }}InteractorType.self,
                                              arguments: coordinator,
                                              storage as! {{ module_info.name }}ModuleSharedStorageType) as! {{ module_info.name }}Interactor
            return interactor as ModuleEntryType
        }.initCompleted { resolver, interactor in
            presenter = resolver.resolve({{ module_info.name }}PresenterType.self,
                                         argument: interactor as! {{ module_info.name }}InteractorType)!
            let interface = resolver.resolve({{ module_info.name }}InterfaceType.self, argument: presenter!)!
            (interactor as! {{ module_info.name }}Interactor).input = interface
        }.inObjectScope(.container)

        container.register(BaseControllerType.self) { resolver in
            resolver.resolve({{ module_info.name }}InterfaceType.self, argument: presenter!) as! BaseControllerType
        }.inObjectScope(.container)
    }
}
