{% include 'header' %}

import Foundation

public enum {{ module_info.name }} {

    public struct Info: AutoEquatable, AutoListDiffable {
        public let id: Int
        public let name: String
        public let imageURLString: String
    }

    public struct SectionViewModel: AutoEquatable, AutoListDiffable {
        public let id: Int = 0
        public var objects: [Info] = []
    }

    public enum Update {
        public struct Request {
            var offset: Int
        }

        public struct Response {
            var objects: [Info]
        }

        public struct ViewModel {
            var objects: [Info]
        }
    }
}
