{% include 'header' %}

import Foundation
import RxSwift
import RxCocoa
import SwifterSwift

// MARK: - output
public protocol {{ module_info.name }}InteractorType: class {
    var initialList: PublishSubject<{{ module_info.name }}.Update.Response> { get }
    var additionalList: PublishSubject<{{ module_info.name }}.Update.Response> { get }
}

// MARK: - parent coordinator to use as an extension for state storage
public protocol {{ module_info.name }}ModuleSharedStorageType {
}

public final class {{ module_info.name }}Interactor: {{ module_info.name }}InteractorType {

    // MARK: - Properties
    public let parent: CoordinatorType
    public let storage: Storage
    public let initialList: PublishSubject<{{ module_info.name }}.Update.Response> = PublishSubject()
    public let additionalList: PublishSubject<{{ module_info.name }}.Update.Response> = PublishSubject()
    public weak var input: Input? {
        didSet {
            if let input = input {
                setupBindings(input)
            }
        }
    }

    // MARK: - Properties
    fileprivate let bag: DisposeBag = DisposeBag()

    // MARK: -
    public init(parent: CoordinatorType, shared storage: Storage) {

        self.parent = parent
        self.storage = storage
    }

    public func setupBindings(_ input: Input) {

        input.donePressed.drive(onNext: {
            // self.parent.fire(event: Coordinator.InputName.name, self.storage)
        }).disposed(by: bag)

        input.isReady.bind { _ in
            Logger.info("{{ module_info.name }} is ready")
        }.disposed(by: bag)

        input.updateRequested.filter {
            $0.offset == 0
        }.map { _ in

            Logger.debug("going to load initial list")

            var objects: [{{ module_info.name }}.Info] = []
            let count = Int.random(between: 5, and: 25)
            Logger.debug(count)
            for i in 0...count {
                let name = String.random(ofLength: Int.random(between: 5, and: 20))
                let imageId = Int.random(between: 1, and: 50)
                let imageURLString = "https://unsplash.it/\(200 + imageId)/\(300 + imageId)/?random"
                let object = {{ module_info.name }}.Info(id: i, name: name, imageURLString: imageURLString)
                objects.append(object)
            }

            return {{ module_info.name }}.Update.Response(objects: objects)
        }.bind(to: initialList).disposed(by: bag)

        input.updateRequested.filter {
            $0.offset != 0
        }.map { request in

            Logger.debug("Loading additional 10 items with offset \(request.offset)")

            var objects: [{{ module_info.name }}.Info] = []
            let count = Int.random(between: 5, and: 25)
            Logger.debug(count)
            for i in 0...count {
                let name = String.random(ofLength: Int.random(between: 5, and: 20))
                let imageId = Int.random(between: 1, and: 50)
                let imageURLString = "https://unsplash.it/\(200 + imageId)/\(300 + imageId)/?random"
                let object = {{ module_info.name }}.Info(id: i, name: name, imageURLString: imageURLString)
                objects.append(object)
            }

            return {{ module_info.name }}.Update.Response(objects: objects)
        }.bind(to: additionalList).disposed(by: bag)
    }
}

// MARK: - BaseInteractorType
extension {{ module_info.name }}Interactor: BaseInteractorType {
    public typealias Input = {{ module_info.name }}InterfaceType
    public typealias Storage = {{ module_info.name }}ModuleSharedStorageType
}

// MARK: - ModuleSharedStorageType
extension {{ module_info.name }}Coordinator.StateStorage: {{ module_info.name }}ModuleSharedStorageType {
}

// MARK: - ModuleEntryType
extension {{ module_info.name }}Interactor: ModuleEntryType {
}
