{% include 'header' %}

import UIKit
import RxSwift
import RxCocoa
import AsyncDisplayKit
import IGListKit

// MARK: - output
public protocol {{ module_info.name }}InterfaceType: class {
    var isReady: PublishSubject<Void> { get }
    var donePressed: Driver<Void> { get }

    var updateRequested: PublishSubject<{{ module_info.name }}.Update.Request> { get }
}

public final class {{ module_info.name }}NodeController: ASViewController<{{ module_info.name }}Node> {

    typealias ListItemType = {{ module_info.name }}.SectionViewModel

    // MARK: - properties
    public let input: {{ module_info.name }}PresenterType
    public let updateRequested: PublishSubject<{{ module_info.name }}.Update.Request> = PublishSubject()
    public let isReady: PublishSubject<Void> = PublishSubject()
    public var donePressed: Driver<Void> {
        return node.buttonTap
    }

    public let rightBarButtonPressed: PublishSubject<Void> = PublishSubject()
    public let leftBarButtonPressed: PublishSubject<Void> = PublishSubject()

    public let isBusy: Variable<Bool> = Variable(false)
    public let readyToFetch: Variable<ASBatchContext?> = Variable(nil)

    // MARK: - properties
    fileprivate let bag: DisposeBag = DisposeBag()
    fileprivate let listItem: Variable<ListItemType>
    fileprivate let tailToken: String = "tailCellNodeToken"
    fileprivate let refresher: UIRefreshControl = UIRefreshControl()
    fileprivate var refreshDriver: Driver<Void> {
        return refresher.rx.controlEvent(.valueChanged).asDriver()
    }

    fileprivate lazy var spinner: UIActivityIndicatorView = {
        let indicator: UIActivityIndicatorView = UIActivityIndicatorView(activityIndicatorStyle: .gray)
        indicator.startAnimating()
        return indicator
    }()

    fileprivate lazy var adapter: ListAdapter = {
        ListAdapter(updater: ListAdapterUpdater(), viewController: self)
    }()

    // MARK: - lifecycle
    public init(presenter: {{ module_info.name }}PresenterType) {

        input = presenter
        listItem = Variable({{ module_info.name }}.SectionViewModel())
        super.init(node: {{ module_info.name }}Node())

        node.collectionNode.leadingScreensForBatching = 1
        adapter.setASDKCollectionNode(node.collectionNode)
        adapter.dataSource = self
        setupBindings()
    }

    public required init?(coder _: NSCoder) {

        fatalError("Not Implemented")
    }

    public override func viewDidLoad() {

        super.viewDidLoad()

        node.collectionNode.view.alwaysBounceVertical = true
        node.collectionNode.view.addSubview(refresher)

        isReady.onNext(())
    }

    public override func viewWillAppear(_ animated: Bool) {

        super.viewWillAppear(animated)
    }

    public override func viewWillDisappear(_ animated: Bool) {

        super.viewWillDisappear(animated)
    }

    public override func viewWillLayoutSubviews() {

        super.viewWillLayoutSubviews()
    }

    // MARK: - node interactions
    public func setupBindings() {

        // MARK: - FetchControllerType
        isBusy.asDriver().drive(onNext: { busy in
            Logger.debug("isBusy = \(busy)")
        }).disposed(by: bag)

        readyToFetch.asObservable().map { _ in
            {{ module_info.name }}.Update.Request(offset: self.listItem.value.objects.count)
        }.bind(to: updateRequested).disposed(by: bag)

        // MARK: - {{ module_info.name }}InterfaceType
        listItem.asDriver().drive(onNext: { _ in
            self.adapter.performUpdates(animated: true, completion: { _ in
                self.isBusy.value = false
                self.refresher.endRefreshing()
                self.readyToFetch.value?.completeBatchFetching(true)
            })
        }).disposed(by: bag)

        refreshDriver.map { _ in
            {{ module_info.name }}.Update.Request(offset: 0)
        }.drive(updateRequested).disposed(by: bag)

        Observable.combineLatest(refreshDriver.asObservable(), updateRequested.asObservable()) { _, _ in
            true
        }.bind(to: isBusy).disposed(by: bag)

        // MARK: - input
        input.listToAppend.map({
            ListItemType(objects: $0.objects + self.listItem.value.objects)
        }).bind(to: listItem).disposed(by: bag)

        input.newList.map({
            ListItemType(objects: $0.objects)
        }).bind(to: listItem).disposed(by: bag)
    }
}

// MARK: -
extension {{ module_info.name }}NodeController {

    public func objects(for _: ListAdapter) -> [ListDiffable] {

        return [listItem.value].diffable() + [tailToken].diffable()
    }

    public func listAdapter(_: ListAdapter, sectionControllerFor: Any) -> ListSectionController {

        return {{ module_info.name }}SectionController(with: self)
    }

    public func emptyView(for _: ListAdapter) -> UIView? {

        return nil
    }
}

// MARK: -
extension {{ module_info.name }}NodeController: FetchControllerType {
}

// MARK: -
extension {{ module_info.name }}NodeController: {{ module_info.name }}InterfaceType {
}

// MARK: -
extension {{ module_info.name }}NodeController: BaseInterfaceType {
}

// MARK: -
extension {{ module_info.name }}NodeController: BaseCollectionControllerType {
}

// MARK: -
extension {{ module_info.name }}NodeController: NavigationBarControllerType {
}
