{% include 'header' %}

import Foundation
import RxSwift
import RxCocoa

public protocol {{ module_info.name }}PresenterType: class {
    var newList: PublishSubject<{{ module_info.name }}.Update.ViewModel> { get }
    var listToAppend: PublishSubject<{{ module_info.name }}.Update.ViewModel> { get }
}

public final class {{ module_info.name }}Presenter: {{ module_info.name }}PresenterType {

    // MARK: - Properties
    public let input: {{ module_info.name }}InteractorType
    public let newList: PublishSubject<{{ module_info.name }}.Update.ViewModel> = PublishSubject()
    public let listToAppend: PublishSubject<{{ module_info.name }}.Update.ViewModel> = PublishSubject()

    // MARK: - Properties
    fileprivate let bag: DisposeBag = DisposeBag()

    // MARK: -
    public init(interactor: {{ module_info.name }}InteractorType) {

        input = interactor
        setupBindings()
    }

    public func setupBindings() {

        input.initialList.map {
            {{ module_info.name }}.Update.ViewModel(objects: $0.objects)
        }.bind(to: newList).disposed(by: bag)

        input.additionalList.map {
            {{ module_info.name }}.Update.ViewModel(objects: $0.objects)
        }.bind(to: listToAppend).disposed(by: bag)
    }
}

// MARK: -
extension {{ module_info.name }}Presenter: BasePresenterType {
}
