//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }}
//  Copyright {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit
import RxSwift
import RxCocoa

// MARK: - Coordinator state storage protocol to share data with different coordinators
public protocol {{ module_info.name }}CoordinatorSharedStateStorage: StateStorageType {
}

// MARK: - Coordinator
public final class {{ module_info.name }}Coordinator: BaseChildCoordinatorType {

    public typealias SharedStorageType = {{ module_info.name }}CoordinatorSharedStateStorage

    // MARK: - Coordinator input names
    public enum InputName: VirtualInputType {
        case selected
    }

    // MARK: - Coordinator state names
    public enum StateName: StateNameType {
        case ready, done
    }

    // MARK: - Coordinator state storage
    public struct StateStorage: StateStorageType {
    }

    // MARK: - Public properties
    public let sharedStorage: SharedStorageType
    public let parent: CoordinatorType
    public let moduleFactory: ModuleFactoryType
    public let coordinatorFactory: CoordinatorFactoryType
    public let navigation: NavigationType
    public let defaultStateName: StateName = .ready
    public var childCoordinators: [CoordinatorType] = []
    public var childModules: [ModuleContainer] = []
    public var statesStack: StatesStack<StateName, StateStorage> = StatesStack()

    // MARK: - Private properties
    fileprivate let bag: DisposeBag = DisposeBag()
    fileprivate let modulesErrorTracker: RxErrorTracker = RxErrorTracker()

    // MARK: - Methods
    public required init(navigation: NavigationType,
                         coordinatorFactory: CoordinatorFactoryType,
                         moduleFactory: ModuleFactoryType,
                         parent: CoordinatorType,
                         sharedStorage: SharedStorageType) {

        self.navigation = navigation
        self.coordinatorFactory = coordinatorFactory
        self.moduleFactory = moduleFactory
        self.parent = parent
        self.sharedStorage = sharedStorage
    }

    // MARK: - Check if conditions are valid for state transition. Performed after input action.
    public func transition(_ oldState: State<StateName, StateStorage>,
                           _ input: InputName,
                           _ newStorage: StateStorage) -> StateName? {

        switch (oldState.name, input) {
        case (.ready, .selected):
            return .done
        default:
            return nil
        }
    }

    // MARK: - Actions to perform on state exit
    public func exitAction(_ oldState: State<StateName, StateStorage>, _ revert: Bool) {

    }

    // MARK: - Actions to perform on state enter
    public func entryAction(_ state: State<StateName, StateStorage>, _ revert: Bool) {

        guard !revert else {
            navigation.denyLast()
            return
        }

        switch state.name {
        case .ready:
            break//addAndPushChild(module: <#T##Constants.ModuleName##Type#>, asRoot: true)
        case .done:
            break//parent.fire(event: <#E##VirtualInputType##Type#>, sharedStorage)
        }
    }
}

extension {{ module_info.name }}Coordinator.StateStorage {
  public static func empty() -> {{ module_info.name }}Coordinator.StateStorage {
      return {{ module_info.name }}Coordinator.StateStorage()
  }
}

// MARK: - Child modules shared storage as extensions to coordinator's StateStorage
//extension {{ module_info.name }}Coordinator.StateStorage: <#S##SomeModuleSharedStorageType##Type#> {
//}

// MARK: - Child coordinators shared storage as extensions to coordinator's StateStorage
//extension {{ module_info.name }}Coordinator.StateStorage: <#S##SomeCoordinatorSharedStateStorage##Type#> {
//}

// MARK: - Shares some info with app coordinator
extension AppCoordinator.StateStorage: {{ module_info.name }}CoordinatorSharedStateStorage {
}
